@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Pacifico&display=swap");
body {
  background: $WhiteColor;
}
main{
min-height: 800px;
}
header {
  position: absolute;
  width: 100%;
  z-index: 10;
}
.navbar {
  position: relative;
  height: 70px;
  p {
    color: $StormGray;
    font-size: 13px;
    word-spacing: 2.5px;
    padding-left: 67px;
    position: relative;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
    &::before {
      content: "";
      height: 17px;
      width: 1px;
      top: 1px;
      background: $Blumine;
      position: absolute;
      left: 45px;
    }
  }
}
.navbar li {
  padding-right: 0;
  &:not(:last-child) {
    @include media-breakpoint-up(lg) {
      padding-right: 37.5px;
    }
  }
  a {
    font-size: 18px;
    @include media-breakpoint-up(lg) {
      font-size: $nav-link-font-size;
    }
  }
}
.navbar a {
  border-top: 2px solid transparent;
  &:hover {
    border-top: 2px solid #32b0ee;
  }
}
.navbar-brand {
  font-family: "Pacifico", cursive;
  letter-spacing: 0.3px;
  height: 70px;
  color: $WhiteColor;
}
.gallery {
  width: 100%;
  height: 100vh;
  min-height: 620px;
  position: relative;
}
.navbar {
  button {
    width: 35px;
    height: 35px;
    border-color: $SpringGreen !important;
    position: relative;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    span {
      height: 2px;
      background: $WhiteColor;
      position: absolute;
      &:first-child {
        top: 8px;
        width: 26px;
        right: 3px;
      }
      &:nth-child(2) {
        top: 15px;
        width: 18px;
        right: 7px;
      }
      &:last-child {
        top: 22px;
        width: 9px;
        right: 11px;
      }
    }
  }
}
.navbar-collapse {
  background: url(../images/bg-collapse.jpg) no-repeat;
  @include media-breakpoint-up(lg) {
    background: none;
  }
}
.carousel-indicators {
  justify-content: flex-end;
  margin-right: 39px;
  height: 70px;
  bottom: 50%;
  .displays {
    transform: rotate(90deg);
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
    .active {
      background: $WhiteColor;
      opacity: 1;
    }
  }
}
.carousel-indicators [type="button"] {
  border-radius: 50%;
  transition: all 3s;
  margin-left: 10px;
  background: transparent;
  border: 0.5px solid $WhiteColor;
  opacity: 0.2;
  .active:active {
    background: $WhiteColor;
  }
}
.carousel-item {
  transition: all 3s step-start;
  height: 100vh;
  img {
    object-fit: cover;
    height: 100%;
  }
  span {
    font-size: 18px;
    position: relative;
    &:before {
      content: "";
      height: 1px;
      width: 28px;
      left: -61px;
      top: 15px;
      background: $SpringGreen;
      position: absolute;
    }
    &::after {
      content: "";
      height: 1px;
      width: 28px;
      right: -61px;
      top: 15px;
      background: $SpringGreen;
      position: absolute;
    }
  }
}
.carousel-caption {
  animation: fadeIn ease 5s;
  h2{
    @include media-breakpoint-up(sm) {
    margin-bottom: 5px;
  }
}
  strong {
    font-weight: 600;
  }
  p {
    letter-spacing: 1px;
font-size: 37px;
line-height: 45px;
padding-bottom: 8px;
    @include media-breakpoint-up(sm) {
      font-size: 48px;
    margin-left: 21px;
    padding-bottom: 32px
    }
  small {
    color: $SpringGreen;
  }
}
}
.title {
  position: relative;
  text-align: center;
  margin-bottom: 62px;
  margin-top: 47px;
  @include media-breakpoint-up(md){
    margin-top: 72px;
  }
  h3 {
    font-weight: 800;
    color: $Niagara;
  }
}
.social-media {
  @include list-unstyled;
  display: flex;
  justify-content: center;
  margin-top: -70px;
  .ico {
    color: $CuttySark;
    padding-left: 11px;
    opacity: 0.6;
    font-size: 25px;
    @include media-breakpoint-up(sm){
    font-size: 19px;
    }
    &:hover {
      color: $WhiteColor;
      opacity: 0.9;
    }
  }
}
.icon {
  display: flex;
}
.block1 {
  margin-bottom: 10px;
    background: $AquaHaze;
  @include media-breakpoint-up(lg){
margin-bottom: 72px;
  }
}
.text {
  padding-left: 16px;
  color: $BlackPearl;
  padding-bottom: 50px;
  @include media-breakpoint-up(lg){
  padding-bottom: 86px;
  }
  h3 {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 25px;
  }
  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
  }
}
.info-works{
  @include info($ShuttleGray, 600, 18px, 24px);
  padding-bottom: 48px;
  }
.features {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $WhiteColor;
  border-radius: 50%;
  border: 1px solid $MountainMeadow;
  &.branding {
    &::after {
      filter: invert(49%) sepia(92%) saturate(384%) hue-rotate(118deg)
        brightness(96%) contrast(99%);
      background: url(../images/sprite/sprite.svg#branding-icon) no-repeat
        center;
      width: 21px;
      height: 21px;
      content: "";
    }
  }
  &.development {
    &::after {
      filter: invert(49%) sepia(92%) saturate(384%) hue-rotate(118deg)
        brightness(96%) contrast(99%);
      background: url(../images/sprite/sprite.svg#development-icon) no-repeat;
      width: 16px;
      height: 16px;
      content: "";
    }
  }
  &.consulting {
    &::after {
      filter: invert(49%) sepia(92%) saturate(384%) hue-rotate(118deg)
        brightness(96%) contrast(99%);
      background: url(../images/sprite/sprite.svg#consulting-icon) no-repeat;
      width: 18px;
      height: 19px;
      content: "";
    }
  }
  &:hover {
    background: $MountainMeadow;
    transition: 0.7s ease-in-out;
    &::after {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(236deg)
        brightness(100%) contrast(104%);
    }
  }
}
.heart {
  margin: auto;
  margin-top: 25px;
    background: url(../images/sprite/sprite.svg#heart) no-repeat;
    width: 18px;
    height: 18px;
    filter: invert(87%) sepia(4%) saturate(118%) hue-rotate(149deg)
      brightness(92%) contrast(88%);
      &::before {
    content: "";
    width: 90px;
    height: 1px;
    background: $Porcelain;
    position: absolute;
    opacity: .1;
    top: 9px;
    right: 50px;
  }
  &::after {
    content: "";
    width: 90px;
    height: 1px;
    opacity: .1;
    background: $Porcelain;
    position: absolute;
    top: 9px;
    left: 50px;
  }
  }
.t-2 {
  margin-bottom: 28px;
}
.info-team{
  padding-top: 18px;
 @include info($ShuttleGray, 600, 18px, 24px);
  padding-bottom: 70px;
   @include media-breakpoint-up(lg){
     padding-bottom: 106px;
   }
  }
.buttons {
  padding-bottom: 38px;
  .btn {
    border-color: transparent;
    color: $Haiti;
    font-weight: 700;
    margin-right: 13px;
    margin-bottom: 10px;
    @include media-breakpoint-up(md){
margin-bottom: 0;
    }
    &:hover {
      background-color: $Niagara;
      color: $WhiteColor;
    }
  }
}
.portfolio {
  padding-bottom: 95px;
  .images {
    position: relative;
    img {
      width: 100%;
    }
    .overlay1 {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      color: $WhiteColor;
      .icon-eye {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $MountainMeadow;
        border-radius: 50%;
        border: 1px solid $WhiteColor;
        svg{
          fill: $WhiteColor;
        }
        &.animation-eye{
          svg{
            fill: transparent;
          path.eye{
        fill: $WhiteColor;
      }
    }
        }
        }
      h4 {
        color: $WhiteColor;
        font-size: 18px;
        font-weight: 700;
        padding: 26px 0 11px 0;
      }
      small {
        font-size: 14px;
        font-weight: 400;
        color: $WhiteColor;
      }
    }
  }
  .images:hover .overlay1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $MountainMeadow;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    &:hover{
      path.eye{
        stroke: $WhiteColor;
        animation: 1s eye cubic-bezier(0.95, 0.05, 0.795, 0.035) forwards;
      }
    }
    @keyframes eye {
      0%{
        opacity: .1;
        fill: transparent;
      }
      50%{
      opacity: .7;
      }
      100%{
        opacity: 1;
        fill: $WhiteColor;
      }
    }
  }
}
.t-3 {
  letter-spacing: -1px;
  word-spacing: -1px;
  margin: 0;
  h3{
  font-size: 1.75rem;
  }
}
.phototeam {
  .account1.active,
   &:hover .nameteam{
    color: $MountainMeadow;
  }
  .photo{
      position: relative;
      padding-bottom: 35px;
  img{
  &:first-child {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }
  }
}
.overlay2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 24px;
  color: $WhiteColor;
  strong{
    font-weight: 600;
      padding: 0 31px 7px 31px;
  }
  p{
    font-weight: 400;
    padding: 0 16px 67px 16px;
  }
  .link{
    display: inline-flex;
      margin-bottom: 0;
  a {
    width: 42px;
    height: 42px;
    background: $SurfieGreen;
    opacity: .7;
    display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
  &.twitter{
    &::after {
          content: "";
          background: url(../images/sprite/sprite.svg#twitter-ico) no-repeat;
          width: 20px;
          height: 20px;
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(204deg)
            brightness(110%) contrast(101%);
    }
    }
    &.facebook{
    &::after{
      content: "";
      width: 20px;
      height: 20px;
      background: url(../images/sprite/sprite.svg#facebook);
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(204deg)
            brightness(110%) contrast(101%);
    }
    }
  &.googleplus{
    &::after{
      content: "";
      width: 20px;
      height: 20px;
      background: url(../images/sprite/sprite.svg#googleplus);
      filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);
    }
    }
  }
}
}
&:hover .overlay2 {
  background: $MountainMeadow;
  opacity: 0.95;
  height: 300px;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
.nameteam {
  color: $Haiti;
  strong {
    padding: 17px 0 3px 0;
    font-weight: 600;
    font-size: 18px;
  }
  small {
    font-size: 13px;
  }
}
.bl-h-3 {
  padding-bottom: 30px;
}
.block3{
  padding-bottom: 80px;
  @include media-breakpoint-up(lg){
  padding-bottom: 177px;
}
}
.block4{
  margin-bottom: 24px;
}
.banner{
  background: url(../images/facts-bg.jpg) no-repeat 0 50%;
  background-size: cover;
  padding-top: 22px;
}
.t-4{
  margin-bottom: 25px;
}
.h-4{
&:after,
&::before {
    content: "";
    opacity: .5;
    background: $RegentGray;
      }
}
.circles{
  padding-bottom: 81px;
  @include media-breakpoint-up(md){
  padding-bottom: 155px;
  }
  .circle{
    padding-bottom: 30px;
  }
  .icon-facts{
    border-radius: 50%;
    border: 2px solid $PaleSky;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    svg{
      fill:$Pippin;
    }
  &.animation{
    svg{
      fill: transparent;
      path.rocket{
        stroke-dasharray: 200;
        stroke-dashoffset: 240;
      }
      path.watch{
        stroke-dasharray: 240;
        stroke-dashoffset: 0;
      }
      path.trophy{
        stroke-dasharray: 0;
        stroke-dashoffset: 240;
      }
    }
    &:hover{
      path.watch{
        stroke: $MountainMeadow;
        animation: watch 3s infinite cubic-bezier(0.77, 0, 0.175, 1);
      }
      path.people{
        stroke: $MountainMeadow;
        animation: people 3s infinite cubic-bezier(0.755, 0.05, 0.855, 0.06);
      }
       path.rocket{
        stroke: $MountainMeadow;
        animation: rocket 2s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
      path.trophy{
        stroke: $MountainMeadow;
        animation: trophy 3s infinite cubic-bezier(0.77, 0, 0.175, 1);
      }
      }
    }
}
}
@keyframes watch{
  0% {
        transform: rotate(0deg);
        stroke-dashoffset: 0;
    }
    25%{
stroke-dashoffset: 240;
    }
    75%{
stroke-dashoffset: 480;
fill: transparent;
    }
    100% {
        transform: rotate(360deg);
        fill: $Pippin;
        stroke-dashoffset: 240;
    }
}
@keyframes people{
  0%{
     stroke-dashoffset: 0;
     opacity: 0;
  }
  50%{
     stroke-dasharray: 10;
     opacity: 1;
     fill: transparent;
  }
  100%{
    stroke-dasharray: 50;
    fill: $Pippin;
    opacity: 1;
  }
}
@keyframes rocket{
  0%{
     stroke-dasharray: 0;
     transform: rotate(100deg);
  }
  50%{
     stroke-dasharray: 200;
     transform: rotate(-80deg);
  }
  85%{
     stroke-dasharray: 450;
        fill: transparent;
        transform: rotate(-150deg);
  }
  100%{
    stroke-dasharray: 240;
    fill: $Pippin;
    transform: rotate(-200deg);
  }
}
@keyframes trophy{
   0%{
     stroke-dasharray: 240;
     opacity: .55;
     transform: scaleY(0);
  }
  50%{
     stroke-dasharray: 450;
      fill: transparent;
     transform: scaleY(1.1);
  }
  85%{
     stroke-dasharray: 200;
     transform: scaleY(0);
  }
  100%{
    stroke-dasharray: 0;
    fill: $Pippin;
    opacity: 1;
    transform: scaleY(1);
  }
}
  .data{
    margin-top: 34px;
  h4{
    color: $WhiteColor;
    font-weight: 600;
    padding-bottom: 6px;
  }
  p{
    color: $WhiteColor;
    font-size: 18px;
    font-weight: 400;
  }
}
.block5{
  margin-bottom: 35px;
  @include media-breakpoint-up(lg) {
     margin-bottom: 145px;
  }
.info-discuss{
    @include info($ShuttleGray, 600, 18px, 24px);
    margin-bottom: 63px;
    padding-top: 15px;
    @include media-breakpoint-up(md){
      margin-bottom: 77px;
    }
}
.t-5{
  margin-bottom: 0;
}
.contacts{
  text-align: center;
  @include media-breakpoint-up(md){
    text-align: start;
  }
  .phr{
    margin-bottom: 33px;
 strong{
    font-size: 22px;
    color: $BlackPearl;
  }
  }
  span{
    display: block;
    color: $Nevada;
    font-size: 13px;
    margin-bottom: 4px;
    a{
      color: $Nevada;
    }
    }
  }
.form{
  margin: 40px 0 25px 0;
  @include media-breakpoint-up(md) {
    margin: 0;
  }
  strong{
word-spacing: -1px;
letter-spacing: 0px;
font-size: 24px;
font-weight: 700;
color: $BlackPearl;
}
.intel{
  width: 50%;
  &:first-child{
  padding-right: 29px;
  }
input{
  @include input-txt($ShuttleGray, 41px, 0 30px 13px 0, none);
  font: 400 13px 'Open Sans', sans-serif;
border-bottom: 1px solid $Silver;
 transition: all 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
 width: 100%;
  &:focus{
    outline: 0;
    border-bottom-color: $MountainMeadow;
  }
}
}
}
.t-5{
&:after {
    content: "";
          left: 223px;
      }
  &::before {
    content: "";
          right: 223px;
      }
}
.txt{
  width: 100%;
textarea{
  width: 100%;
  @include input-txt($ShuttleGray, 41px, 0 30px 3px 0, none);
  resize: none;
  font: 400 13px 'Open Sans', sans-serif;
  border-bottom: 1px solid $Silver;
  transition: all 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-bottom: 32px;
&:focus {
    outline: 0;
    border-bottom-color: $MountainMeadow;
  }
}
}
ul.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  @include media-breakpoint-up(md){
    flex-direction: column;
  }
}
li{
  margin: 0 20px 0 0;
   @include media-breakpoint-up(md){
  margin: 20px 0 0 0;
}
}
a{
  display: flex;
  flex-direction: column;
  &.behance{
  &::after{
    content: '';
    background: url(../images/sprite/sprite.svg#behance) no-repeat;
    filter: invert(0%) sepia(99%) saturate(4%) hue-rotate(176deg) brightness(103%) contrast(100%);
    width: 24px;
    height: 24px;
  }
  &:hover{
      filter: invert(1000%) sepia(1000%) saturate(1000%) hue-rotate(100deg) brightness(1000%) contrast(1000%);
  }
  }
&.twitter{
  &::after{
    content: '';
    background: url(../images/sprite/sprite.svg#twitter) no-repeat;
    filter: invert(0%) sepia(99%) saturate(4%) hue-rotate(176deg) brightness(103%) contrast(100%);
    width: 24px;
    height: 24px;
  }
  &:hover{
      filter: invert(1000%) sepia(1000%) saturate(1000%) hue-rotate(100deg) brightness(1000%) contrast(1000%);
  }
}
  &.dribbble{
  &::after{
    content: '';
    background: url(../images/sprite/sprite.svg#dribbble) no-repeat;
    filter: invert(0%) sepia(99%) saturate(4%) hue-rotate(176deg) brightness(103%) contrast(100%);
    width: 24px;
    height: 24px;
  }
    &:hover{
      filter: invert(1000%) sepia(1000%) saturate(1000%) hue-rotate(100deg) brightness(1000%) contrast(1000%);
  }
}
 &.forrst{
  &::after{
    content: '';
    background: url(../images/sprite/sprite.svg#forrst) no-repeat;
    filter: invert(0%) sepia(99%) saturate(4%) hue-rotate(176deg) brightness(103%) contrast(100%);
    width: 24px;
    height: 24px;
  }
  &:hover{
      filter: invert(1000%) sepia(1000%) saturate(1000%) hue-rotate(100deg) brightness(1000%) contrast(1000%);
  }
}
&.googleplus { 
  &::after {
    content: '';
    background: url(../images/sprite/sprite.svg#google-plus) no-repeat;
    filter: invert(0%) sepia(99%) saturate(4%) hue-rotate(176deg) brightness(103%) contrast(100%);
    width: 24px;
    height: 24px;
  }
  &:hover{
      filter: invert(1000%) sepia(1000%) saturate(1000%) hue-rotate(100deg) brightness(1000%) contrast(1000%);
  }
}
}
}
.btn-submit {
  padding: 0;
  color: $Black;
  font: 400 16px 'Open Sans', sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &:hover{
    color: $MountainMeadow;
  }
  svg{
fill: $MountainMeadow;
margin-right: 12px;
  }
  &.animation-mail{
 svg{
   fill: $MountainMeadow;
 }
  path.cls-1{
 stroke-dasharray: 120;
        stroke-dashoffset: 150;
  }
  &:hover{
    path.cls-1{
    stroke: $MountainMeadow;
    animation: mail 2s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
 }
  }
  }
  @keyframes mail{
    0%{
    stroke-dashoffset: 240;
    opacity: 0.5;
    }
    25%{
    stroke-dashoffset: 180;
    fill: transparent;
    }
    75%{
    stroke-dashoffset: 50;
    opacity: .75;
    }
    100%{
    stroke-dashoffset: 0;
    fill: $MountainMeadow;
    opacity: 1;
    }
  }
  .map{
    border-bottom: 5px solid $BlackPearl;
  }
  footer{
    height: auto;
    background: $MountainMeadow;
        color: $WhiteColor;
        background-size: cover;
    .main-footer{
      justify-content: space-between;
        margin-top: 50px;
    @include media-breakpoint-up(lg){
      margin-top: 0;
    height: 404px;
    align-items: center;
    justify-content: center;
  }
      .column1{
      strong{
        font-size: 28px;
        font-family: "Pacifico", cursive;
        letter-spacing: 1px;
      }
      p{
        font-size: 13px;
        line-height: 23px;
        margin: 29px 0 55px 0;
      }
    }
    .column2{
      margin-bottom: 49px;
           @include media-breakpoint-up(md){
          margin-bottom: 14px;
           }
      strong{
         @include columns(14px, 600);
      }
      .sub{
        display: block;
        max-width: 290px;
        position: relative;
        color: $WhiteColor;
        font: 400 13px "Open Sans", sans-serif;
        background: transparent;
        padding: 0 40px 0 12px;
        height: 46px;
        border: 2px solid $WhiteColor;
        margin: 40px 0 17px 0;
        border-radius: 2px;
        &:focus{
          outline: none;
          border: 2px solid $BlackPearl;
        }
      }
      .search{
       left: 170px;
       background: transparent;
       bottom: 42px;
       padding-left: 20px;
       display: flex;
       justify-content: flex-end;
       align-items: center;
       border: none;
       position: relative;
       &:focus{
         outline: none;
       }
           &::before{
             content: '';
          width: 18px;
          height: 16px;
          background: url(../images/sprite/sprite.svg#search-arrow);
         filter: invert(91%) sepia(15%) saturate(451%) hue-rotate(115deg) brightness(96%) contrast(85%);
          position: absolute;
           }
            &:hover{
            filter: invert(0%) sepia(99%) saturate(4%) hue-rotate(176deg) brightness(103%) contrast(100%);
          }
        }
        p{
          font-size: 13px;
        line-height: 23px;
        }
       }
       .column3{
         strong{
           @include columns(14px, 600);
         }
         ul{
           columns: 2;
           margin: 31px 0 6px 0;
         }
         li{
           padding-bottom: 8px;
         }
         a{
           color: $WhiteColor;
           font-weight: 400;
           font-size: 13px;

         }
       }
       .column4{
         font-size: 13px;
         margin: 31px 0 20px 0;
         @include media-breakpoint-up(lg){
        margin: 39px 0 0 0;
         }
         position: relative;
         &::after{
           content: '';
           width: 12px;
             top: 12px;
           left: -13px;
           background: $Genoa;
           height: 1px;
           position: absolute;
           transform: rotate(90deg);
           @include media-breakpoint-up(md){
             top: 25px;
           left: -32px;
           width: 36px;
           }
          }
         p{
           font-weight: 400;
           margin-bottom: 34px;
           line-height: 24px;
           @include media-breakpoint-up(lg){
             margin-bottom: 51px;
           }
         }
         .heart-footer{
           display: inline-flex;
           margin
           : 0 6px -5px 6px;
           &:after{
             content: '';
             filter: invert(33%) sepia(96%) saturate(363%) hue-rotate(118deg) brightness(90%) contrast(91%);
           }
         }
         a{
           color: $BlackPearl;
         }
         span{
           color: $BlackPearl;
           font-weight: 600;
         }
       }
      }
    }