$WhiteColor: white;
$Haiti: #101636;
$StormGray: #797b86;
$Blumine: #1B5077;
$SpringGreen: #0feb9e;
$Niagara: #0EB493;
$CuttySark: #567069;
$BlackPearl: #062033;
$MountainMeadow: #15B696;
$SilverSand: #C3C6C7;
$ShuttleGray: #5B646E;
$RegentGray: #86939C;
$AquaHaze: #f4f7f9;
$SurfieGreen: #0B7A65;
$PaleSky: #6B7781;
$Pippin: #FFE5E5;
$Nevada: #6A737B;
$Silver: #cccccc;
$Iron: #CDD2D6;
$Black: #000000;
$Fountain: #5bbfac;
$Genoa: #177E72;
$Porcelain: #E6E8EA;